Makefile.in
Makefile

compile
test-driver

*.o
*.log

# http://www.gnu.org/software/autoconf

/build
/depcomp
/install-sh
/missing
/aclocal.m4
/autom4te.cache
/configure
/configure.in
/config.log
/config.status
/configure.lineno

.deps

src/automatic
src/version.h
src/automatic.state
src/automatic-mw
src/automatic.conf
src/core
src/.dirstamp

src/tests/utils_test
src/tests/parser_test
src/tests/base64_test
src/tests/list_test
src/tests/http_test
src/tests/prowl_test
src/tests/json_test
src/tests/regex_test
src/tests/toasty_test
src/tests/pushalot_test
src/tests/*.trs
